.contributor {

  margin: 5px;
  display: inline-block;
  *display: inline; zoom: 1;

  .avatar {
    position: relative;
    display: block;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }

  }

  .name,
  .contributions {
    position: absolute;
    left: 0;
    margin: 2px;
    padding: 0 4px;
    width: 68px;
    font-size: 11px;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, 0.4);
    text-shadow: 0 1px 0 rgba(0,0,0, 0.5);
  }

  // top
  .contributions {
    top: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  // bottom
  .name {
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

}
