#github-app {

  @import "avatar";
  @import "user";
  @import "repo";
  @import "contributor";
  @import "techs";

  //---

  $userNotFoundSize: 128px;

  .userNotFound {

    background-image: data-uri('image/png;base64', '../img/user.png');
    background-position: center top;
    background-repeat: no-repeat;
    min-width: $userNotFoundSize;
    min-height: $userNotFoundSize;

  }

}
