@mixin common-li($paddin: 10px) {
  li {
    float: left;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: $paddin;
  }
}

.user {

  .login {

    div {
      float: left;
      padding: 10px;
      vertical-align: middle;
      display: table-cell;
    }

  }

  .login-mobile {

    div {
      margin-left: 10%;
      float: left;
      padding: 10px;
      vertical-align: middle;
      display: table-cell;
    }

  }

  .info {

    ul {
      padding-left: 0;
      margin-left: 0;
    }

    @include common-li;

  }

  .info-mobile {

    ul {
      padding-left: 0;
      margin-left: 20%;
    }

    @include common-li;

  }

  .info-repo-mobile {

    ul {
      padding-left: 0;
      margin-left: 30%;
    }

    @include common-li;

  }

}
