<ul class="breadcrumb">
  <li><i class="icon-search"></i> <a href="#">Search Other</a></li>
  <li><a href="#github/{{repoInfo.data.owner.login}}">{{repoInfo.data.owner.login}}</a></li>
  <li class="active">{{repoInfo.data.name}}</li>
  <p class="hidden-xs pull-right"><a href="{{repoInfo.data.html_url}}" target="_blank">View on GitHub</a> <i class="glyphicon glyphicon-eye-open"></i></p>
</ul>

<!-- @begin: user info row -->
<div class="row user">

  <!-- @begin: avatar / login / repo -->

  <!-- mobile -->
  <div class="visible-xs">
    <div class="row login-mobile">
      <div>
        <span class="avatar user-avatar">
          <img ng-src="{{repoInfo.data.owner.avatar_url}}" alt="{{repoInfo.data.owner.login}}'s avatar" />
        </span>
      </div>
      <div>
        <h2>{{repoInfo.data.owner.login}}</h2>
        <h2><small>({{repoInfo.data.name}})</small></h2>
      </div>
    </div>
  </div> <!-- ./mobile -->

  <!-- tablet-desktop -->
  <div class="hidden-xs col-md-6">
    <div class="login">
    <div>
      <span class="avatar user-avatar">
        <img ng-src="{{repoInfo.data.owner.avatar_url}}" alt="{{repoInfo.data.owner.login}}'s avatar" />
      </span>
    </div>
    <div>
      <h2>{{repoInfo.data.owner.login}}</h2>
      <h2><small>({{repoInfo.data.name}})</small></h2>
    </div>
  </div>
  </div> <!-- ./tablet-desktop -->

  <!-- @end: avatar / login / repo -->

  <!-- @begin: watchers / forks -->

  <!-- mobile -->
  <div class="visible-xs">
    <div class="row info-repo-mobile">
      <ul>
        <li>
          <h1>{{repoInfo.data.watchers}}</h1>
          <ng-pluralize count="repoInfo.data.watchers" when="watchForms"></ng-pluralize>
        </li>
        <li>
          <h1>{{repoInfo.data.forks}}</h1>
          <ng-pluralize count="repoInfo.data.forks" when="forkForms"></ng-pluralize>
        </li>
      </ul>
    </div>

    <div class="row text-center">
      <br>
      <p><a href="{{repoInfo.data.html_url}}" target="_blank">View on GitHub</a> <i class="glyphicon glyphicon-eye-open"></i></p>
      <br>
    </div>
  </div> <!-- ./mobile -->

  <!-- tablet-desktop -->
  <div class="hidden-xs col-md-6">
    <div class="pull-right well info">

      <ul>
        <li>
          <h1>{{repoInfo.data.watchers}}</h1>
          <ng-pluralize count="repoInfo.data.watchers" when="watchForms"></ng-pluralize>
        </li>
        <li>
          <h1>{{repoInfo.data.forks}}</h1>
          <ng-pluralize count="repoInfo.data.forks" when="forkForms"></ng-pluralize>
        </li>
      </ul>

    </div>
  </div><!-- ./tablet-desktop -->

  <!-- @end: watchers / forks -->

</div>
<!-- @end: user info row -->

<div ng-show="repoInfo.data.description">
  <hr>
  <h4>Description:</h4>
  <span class="repo-desc">{{repoInfo.data.description}}</span>
</div>
