<hr>

<div>
  <h3>Project Contributors ({{vm.contributors.length}})</h3>

  <ul class="contributors">
      <li class="contributor" ng-repeat="contributor in vm.contributors">
        <a
          class="avatar"
          ng-href="#/github/{{contributor.login}}/"
          title="{{contributionsTitle(contributor)}}">
            <img alt="{{contributor.login}}'s avatar" ng-src="{{contributor.avatar_url}}" />
            <span class="name">{{contributor.login}}</span>
            <span class="contributions">{{contributor.contributions}}</span>
        </a>
      </li>
  </ul>
</div>
