<div class="row">
  <ul class="breadcrumb">
    <li><i class="icon-search"></i> <a href="#/">Search Other</a></li>
    <li class="active">{{vm.user.login}}</li>
    <p class="hidden-xs pull-right"><a href="{{vm.user.html_url}}" target="_blank">View on GitHub</a> <i class="glyphicon glyphicon-eye-open"></i></p>
  </ul>
</div>

<!-- @begin: user info row -->
<div class="row user">

  <!-- @begin: avatar / login / name -->

  <!-- mobile -->
  <div class="visible-xs">
    <div class="row login-mobile">
      <div>
        <span class="avatar user-avatar">
          <img ng-src="{{vm.user.avatar_url}}" alt="{{vm.user.login}}'s avatar" />
        </span>
      </div>
      <div>
        <h2>{{vm.user.login}}</h2>
        <h2 ng-show="vm.user.name"><small>({{vm.user.name}})</small></h2>
      </div>
    </div>
  </div> <!-- ./mobile -->

  <!-- tablet-desktop -->
  <div class="hidden-xs col-md-6">
    <div class="login">
      <div>
        <span class="avatar user-avatar">
          <img ng-src="{{vm.user.avatar_url}}" alt="{{vm.user.login}}'s avatar" />
        </span>
      </div>
      <div>
        <h2>{{vm.user.login}}</h2>
        <h2 ng-show="vm.user.name"><small>({{vm.user.name}})</small></h2>
      </div>
    </div>
  </div> <!-- ./tablet-desktop -->

  <!-- @end: avatar / login / name -->

  <!-- @begin: public repos / followers -->

  <!-- mobile -->
  <div class="visible-xs row">
    <div class="row info-mobile">
      <ul>
        <li>
          <h1>{{vm.user.public_repos}}</h1>
          <ng-pluralize count="vm.user.public_repos" when="vm.publicRepoForms"></ng-pluralize>
        </li>
        <li>
          <h1>{{vm.user.followers}}</h1>
          <ng-pluralize count="vm.user.followers" when="vm.followerForms"></ng-pluralize>
        </li>
      </ul>
    </div>

    <div class="row text-center">
      <br>
      <p><a href="{{vm.user.html_url}}" target="_blank">View on GitHub</a> <i class="glyphicon glyphicon-eye-open"></i></p>
      <br>
    </div>
    <hr>
  </div> <!-- ./mobile -->

  <!-- tablet-desktop -->
  <div class="hidden-xs col-md-6">
    <div class="pull-right well info">

      <ul>
        <li>
          <h1>{{vm.user.public_repos}}</h1>
          <ng-pluralize count="vm.user.public_repos" when="vm.publicRepoForms"></ng-pluralize>
        </li>
        <li>
          <h1>{{vm.user.followers}}</h1>
          <ng-pluralize count="vm.user.followers" when="vm.followerForms"></ng-pluralize>
        </li>
      </ul>

    </div>
  </div> <!-- ./tablet-desktop -->

  <!-- @end: public repos / followers -->

</div>
<!-- @end: user info row -->
