<!doctype html>
<% if (config.environment === 'prod') { %>
  
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<% } else { %>
  
<html>

<% } %>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>AngularJS - GitHub Info</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="GitHub User Info">
  <meta name="author" content="Erko Bridee">

  <!-- Le styles -->
  <link href="styles/bootstrap.css" rel="stylesheet">
  <link href="styles/bootstrap-responsive.css" rel="stylesheet">

<% if (config.environment === 'prod') { %>
  
  <!-- For IE less than 9 -->
  <!--[if lt IE 9]>
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <style type="text/css">
        body { padding-top: 60px; padding-bottom: 40px; }
    </style>
  <![endif]-->

<% } %>

  <link href="styles/app.css" rel="stylesheet" type="text/css">

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="img/ico/favicon.ico">
  <link 
    rel="apple-touch-icon-precomposed" sizes="144x144" 
    href="img/ico/apple-touch-icon-144-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" sizes="114x114" 
    href="img/ico/apple-touch-icon-114-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" sizes="72x72" 
    href="img/ico/apple-touch-icon-72-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" 
    href="img/ico/apple-touch-icon-57-precomposed.png">    

</head>
<body>

  <navbar title="AngularJS - GitHub Info"></navbar>

  <div class="container">
    <div id="github-app" ng-view ng-cloak></div>
  </div>

<% if (config.environment === 'prod') { %>

  <script src="scripts/scripts.min.js?v=<%= config.hash('./dist/scripts/scripts.min.js') %>"></script>

<% } else { %>
  
  <script data-main="scripts/main.js" src="scripts/libs/require.js?v=<%= config.hash('./build/scripts/libs/require.js') %>"></script>

<% } %>

</body>
</html>