<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>AngularJS - GitHub Info</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="GitHub User Info">
  <meta name="author" content="Erko Bridee">

  <!-- Le styles -->

<% if (config.environment === 'prod') { %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<% } else { %>  
  <link href="styles/bootstrap.css" rel="stylesheet">
  <link href="styles/bootstrap-responsive.css" rel="stylesheet">
<% } %>  

  <style type="text/css">
    @media (min-width: 980px) {
      body { padding-top: 60px; padding-bottom: 40px; }
    }
  </style>
  <link href="styles/app.css" rel="stylesheet" type="text/css">

<% if (config.environment === 'prod') { %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="http://twitter.github.io/bootstrap/assets/images/favicon.ico">
  <link 
    rel="apple-touch-icon-precomposed" sizes="144x144" 
    href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" sizes="114x114" 
    href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" sizes="72x72" 
    href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" 
    href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png"> 

<% } else { %>  
  
  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="img/ico/favicon.ico">
  <link 
    rel="apple-touch-icon-precomposed" sizes="144x144" 
    href="img/ico/apple-touch-icon-144-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" sizes="114x114" 
    href="img/ico/apple-touch-icon-114-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" sizes="72x72" 
    href="img/ico/apple-touch-icon-72-precomposed.png">
  <link 
    rel="apple-touch-icon-precomposed" 
    href="img/ico/apple-touch-icon-57-precomposed.png">    

<% } %>  

</head>
<body>

  <navbar title="AngularJS - GitHub Info"></navbar>

  <div class="container">
    <div id="github-app" ng-view ng-cloak></div>
  </div>

<% if (config.environment === 'prod') { %>
  
  <script src="scripts/scripts.min.js?v=<%= config.hash('./dist/scripts/scripts.min.js') %>"></script>

<% } else { %>
  
  <script data-main="scripts/main.js" src="scripts/libs/require.js?v=<%= config.hash('./build/scripts/libs/require.js') %>"></script>

<% } %>

</body>
</html>