<div>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">{{vm.title}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{vm.nav.searchNotActive}}active">
          <a
            data-toggle="collapse"
            data-target=".navbar-collapse.in"
            ng-href="#{{vm.nav.searchUrlPath}}"><i class="icon-search icon-white"></i> Search</a>
        </li>
        <li class="{{vm.nav.aboutNotActive}}active">
          <a
            data-toggle="collapse"
            data-target=".navbar-collapse.in"
            href="#/about"><i class="icon-question-sign icon-white"></i> About</a>
        </li>
      </ul>

      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li class="active"><a href="./">Static top</a></li>
        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
      </ul>
      -->

    </div><!--/.nav-collapse -->
  </div>
</div>

</div>
