<div class="tabbable">

  <!-- mobile -->
  <ul class="visible-xs nav nav-pills nav-justified nav-stacked">
    <li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
      <a href="" ng-click="select(pane)">{{pane.title}}</a>
    </li>
  </ul> <!-- ./mobile -->

  <!-- tablet-desktop -->
  <ul class="hidden-xs nav nav-tabs">
    <li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
      <a href="" ng-click="select(pane)">{{pane.title}}</a>
    </li>
  </ul> <!-- ./tablet-desktop -->

  <div class="tab-content" ng-transclude></div>
</div>
